# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc
*.tlog
*.unsuccessfulbuild
*.lastbuildstate
*.cache
*.user
*.manifest
*.manifest.res
*.manifest.rc
*.log
*.exp
*.rc
*.lastbuildstate
*.res
/Dufresne.sdf
/Dufresne.suo
/SDL2_mixer-2.0.0/VisualC/Debug
/lpng1618/libpng/Debug
/lpng1618/zlib/Debug
